<header>
    <a href="/">
        <img
            src="/nerd-face.png"
            alt="Microsoft Fluent Emoji of the Nerd Face"
            class="w-16"
        />
        <p class="text-3xl uppercase text-zinc-900">Blog</p>
    </a>
</header>
